<button mat-flat-button color="warn" (click)="openDialog()">
    <mat-icon>add</mat-icon> יצירת סקר חדש
</button>
<!-- <app-create-survey></app-create-survey> -->
<div class="warp_table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="line-th" scope="col">שם הסקר</th>
                <th class="line-th" scope="col">אנשים שענו </th>
                <th class="line-th" scope="col">תוצאת הסקר</th>
                <th class="line-th" scope="col">תאריך</th>
                <th class="line-th" scope="col">כניסה לסקר</th>
                <th class="line-th" scope="col">יצירת הזמנה</th>
         
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of survey index as i">
                <td class="line-td">{{ s.subject}}
                    <br/>
                      <span [ngStyle]="{'color':' green'}" *ngIf="s.status==true"> פעיל</span>
                      <span [ngStyle]="{'color': 'red'}" *ngIf="s.status==false"> לא פעיל</span>
                 </td>
                <td class="line-td">{{ s.countAnswers }}</td>
                <td class="line-td"></td>
                <td class="line-td">{{ s.createDate}}</td>
                
                <td class="line-td"><button  mat-flat-button color="warn" (click)="enterceSurvey($event, s)" > כניסה לסקר </button></td>
                <td class="line-td">
                    <button *ngIf="s.status==false" name="1"  mat-flat-button color="warn" (click)="changeStatus($event, s)"  >  הפעל סקר</button>
                    <button *ngIf="s.status==true" name="2"   mat-flat-button color="warn" (click)="changeStatus($event, s)"  >  סגור סקר</button>
                </td>

            
                <button mat-menu-item><button mat-icon-button color="red" (click)="removeSurvey($event, s)"  aria-label="Example icon button with a home icon" matTooltip="מחיקה">
                    <mat-icon>delete</mat-icon>
                 </button></button>
            
            </tr>
        </tbody>
    </table>
</div>