


<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1" >
            <h3>הרשם</h3>
            <form [formGroup]="formEnrollment" (ngSubmit)="onSubmit()">
                <div class="form-group" >
                    <input type="text"  formControlName="building" class="form-control" placeholder="building name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" formControlName="address" class="form-control" placeholder="Your address building *" value="" />
                </div>
                <div class="form-group">
                    <input type="number" formControlName="number" class="form-control" placeholder="Your number building *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" formControlName="city" class="form-control" placeholder="Your city building *" value="" />
                </div>
                <div class="form-group">
                    <input type="number" formControlName="entrance" class="form-control" placeholder="Your entrance building *" value="" />
                </div>     
                <div class="form-group">
                    <input type="number" formControlName="zipCode" class="form-control" placeholder="Your zip_code building *" value="" />
                </div>    
                <div class="form-group">
                    <input type="number" formControlName="numApartments" class="form-control" placeholder="Your number apartments in building *" value="" />
                </div>    
                   <div class="form-group">
                    <input required="required" type="submit" class="btnSubmit" value="הרשם">
                </div>
                <!-- <div class="form-group">
                    <a href="#" class="btnForgetPwd">Forget Password?</a>
                </div> -->
            </form>
        </div>
    </div>
</div> 

