
<div>
    <table class="table table-striped">
        <thead>
        <tr>
          <th class="line-th"  scope="col">מזהה תקלה</th>
          <th class="line-th" scope="col">תאור</th>
          <th class="line-th" scope="col">סטטוס</th>
          <th class="line-th" scope="col">דווח ע"י</th>
          <th class="line-th" scope="col">עדכון סטטוס</th>
          <th class="line-th" scope="col">שלית הודעה על טיפול</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of faults ;let t of tenantName; let i = index">
          <td class="line-td" scope="row">{{e.user_id}}</td>
          <td class="line-td">{{ e.description}}</td> 
          <td class="line-td" *ngIf="e.status==false"> לא טופל </td>
          <td class="line-td" *ngIf="e.status==true"></td>
          <td class="line-td">{{tenantName[i] }}</td>

          <td class="line-td"><button  mat-flat-button color="warn" (click)="updateStatus($event, e)" >עדכן סטטוס</button></td>
          <td class="line-td"><button  mat-flat-button color="warn"  (click)="sendNotification($event, e)">שלח הודעה</button></td>
        </tr>
        </tbody>
      </table>
    
    </div>
